@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27);



html, body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:1rem 5%;
    z-index:1000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
}

html{
    font-size: 80%;
}

body {
    background:#080808;

    background-image:
    linear-gradient(#171717 1px, transparent 1px),
    linear-gradient(90deg,#171717 1px, transparent 1px);

    background-size:40px 40px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    padding: 2rem 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
}

.menu-icon{
    font-size: 3rem;
    color: white;
    cursor: pointer;
    display: none;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav {
    width: 220px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    background:#050505;
    border-right:1px solid #2b2b2b;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:35px;
}


nav a {
    color:white;
    text-decoration:none;

    font-size:17px;
    font-weight:500;

    padding:15px 0;
    width:auto;
}


nav a.active {
    color:#c44b4f;
    border-bottom:3px solid #c44b4f;
}

@keyframes navAppear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width:995px){

    .menu-icon{
        display:block;
    }

    nav{
    display:none;
    position:absolute;
    top:100%;
    right:0;
    width:300px;
    background:rgba(22,22,22,0.8);
    backdrop-filter: blur(10px);
    border-left:3px solid #b74b4b;
    border-bottom:3px solid #b74b4b;
    border-bottom-left-radius:2rem;
    padding:2rem;
    }

    nav.active{
        display:block;
    }

    nav a{
        display:block;
        margin:2.5rem 0;
        font-size:2.5rem;
    }
}


section{
    min-height: 100vh;
    padding: 2rem 4rem;
    margin-left: 220px;
}

.home {
    margin-left:220px;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    transform:translateY(-20px);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.4rem;
}

.home img {
    width:150px;
    height:150px;
    border-radius:50%;
    border:3px solid #c44b4f;
    box-shadow: 0 0 25px #c44b4f;
    margin-bottom:25px;
    object-fit: cover;
}


.home-content{
    text-align: center;
}

.home-img img{
    width: 180px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translate(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.3);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Hackcluber";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}


@media (max-width: 995px){
    .home{
    flex-direction: column;
    gap: 3rem;
    margin: 8rem 2rem 2rem;
    text-align: center;
    }
}   

@media (max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 1rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 80%;
        max-width: 300px;
        margin-top: 2rem;
}
}






@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    h1 {
        font-size: 32px;
    }

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

/* Splash screen */

.intro {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}





body {
    transition: none;
}

body.slide-out {
    transform: none;
    opacity: 1;
}


.menu-icon{
    display:none;
}

@media(max-width:995px){
    .menu-icon{
        display:block;
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    max-width: 100%;
}

.home-style {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 80%;
  padding: 40px;
}


.home-box .home-img img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}


.home-box .home-content {
  text-align: center;
}


.home-box h1 {
  font-size: 4rem;
}


@media(max-width:900px){

  .home-box {
    flex-direction: column;
  }

  .home-box h1 {
    font-size: 3rem;
  }

  .home-box .home-img img {
    width: 220px;
    height: 220px;
  }
}

.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}